<?xml version="1.0" encoding="utf-8"?>
<!--
    vendor/bin/phpunit -c phpunit.xml.dist
-->
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         syntaxCheck="true"
         forceCoversAnnotation="true"
         bootstrap="./vendor/autoload.php">

  <testsuites>
    <testsuite name="unit">
      <directory>./test/unitTests/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./src</directory>
    </whitelist>
  </filter>
</phpunit>
